@import url(https://fonts.googleapis.com/css?family=PT+Sans:regular&display=swap);

@charset "UTF-8";

@font-face {
  font-family: AkzidenzGrotesk;
  font-display: swap;
  src: url("../fonts/AkzidenzGroteskBQCondensedBold.woff2") format("woff2"), url("../fonts/AkzidenzGroteskBQCondensedBold.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: Bebas;
  font-display: swap;
  src: url("../fonts/Bebas-Regular.woff2") format("woff2"), url("../fonts/Bebas-Regular.woff") format("woff");
  font-weight: 400;
  font-style: normal;
}

* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  height: 100%;
  min-width: 320px;
}

body {
  color: #000;
  line-height: 1;
  font-family: "pt sans";
  font-size: 0.9375rem;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

input,
button,
textarea {
  font-family: "pt sans";
  font-size: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: inherit;
}

a {
  color: inherit;
}

a:link,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

.lock body {
  overflow: hidden;
  -ms-touch-action: none;
      touch-action: none;
}

.wrapper {
  min-height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  overflow: hidden;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}

.wrapper > * {
  min-width: 0;
}

/*
(i) Стили будут применяться ко 
всем классам содержащим *__container
Например header__container, main__container и т.д.
Снипет (HTML): cnt
*/

[class*=__container] {
  max-width: 54.375rem;
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  margin: 0 auto;
  padding: 0 0.9375rem;
}

[class*=-ibg] {
  position: relative;
}

[class*=-ibg] img {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  -o-object-fit: cover;
     object-fit: cover;
}

[class*=-ibg_contain] img {
  -o-object-fit: contain;
     object-fit: contain;
}

.icon-menu {
  display: none;
}

.header__menu {
  display: none;
}

.header__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 30px 0px 30px 0px;
}

.header__lang-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.header__lang-list li {
  font-family: Bebas;
  font-size: 10px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  text-decoration: underline;
  color: #000000;
  padding: 0px 7px 0px 7px;
  margin: 0px 10px 0px 0px;
}

.header__lang-list li:last-child {
  margin: 0px 0px 0px 0px;
}

.header__lang-list li:hover {
  color: #ffffff;
  background-color: black;
  text-decoration: none;
}

.header__lang-list li.active-lang {
  color: #ffffff;
  background-color: black;
  text-decoration: none;
}

.header__middle img {
  display: none;
}

.middle {
  font-family: "Bebas";
  font-size: 8px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 1em;
  color: #000000;
  text-align: center;
}

.middle span {
  letter-spacing: 0.34em;
}

.header__order {
  font-family: "AkzidenzGrotesk";
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  color: #000000;
  text-decoration: underline;
}

html.menu-open .header__nav {
  left: 0;
  background-color: #fff;
}

.header__nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: -25px 0px 12px 0px;
}

.header__nav-list .header__nav-item {
  font-family: "AkzidenzGrotesk";
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
}

.header__bottom {
  margin: 0px 0px 0px 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__skin {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.footer__copyright {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.footer__logo {
  text-align: end;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.footer__logo img {
  margin: 44px 0px 44px 0px;
}

.catering__top {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 30px 0px 75px 0px;
}

.catering__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.catering__img img {
  width: 100%;
}

.catering__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #000000;
  padding: 0px 0px 0px 60px;
}

.title {
  font-family: "AkzidenzGrotesk";
  font-size: 50px;
  line-height: 50px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
}

.catering__text-title {
  max-width: 200px;
  margin: 0px 0px 35px 0px;
  color: #ffffff;
}

.content {
  font-family: "pt sans";
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  color: #000000;
}

.catering__text-content {
  color: #ffffff;
  max-width: 310px;
  margin: 0px 0px 55px 0px;
}

.catering__text-bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.button {
  font-family: "Bebas";
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
  background-color: #fff;
  padding: 13px 30px;
  display: inline-block;
}

.catering__text-button {
  margin: 0px 20px 10px 0px;
  display: flex;
  align-items: center;
}

.view-link {
  font-family: Bebas;
  font-size: 15px;
  line-height: 25px;
  font-weight: 400;
  text-decoration: underline;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
  display: inline-block;
}

a.view-link-white {
  text-decoration: underline;
  color: #ffffff;
  display: inline-block;
  padding: 13px 0px;
}

.view-link>a {
  text-decoration: underline;
}

.catering__text-view {
  color: #ffffff;
}

.catering__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.catering__item {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 25%;
          flex: 1 1 25%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.catering__item-title {
  margin: 25px 5px 35px 5px;
}

.small-title {
  font-family: "AkzidenzGrotesk";
  font-size: 25px;
  line-height: 25px;
  font-weight: 400;
  text-transform: uppercase;
  letter-spacing: 0.1em;
  color: #000000;
}

.catering__item-content {
  margin: 0px 5px 30px 5px;
  -webkit-box-flex: 1;
      -ms-flex: 1 1;
          flex: 1 1;
}

.catering__item-button {
  margin: 0px 5px 30px 5px;
}

.button-black {
  background-color: #000000;
  color: #ffffff;
}

.catering__item-link {
  margin: 0px 5px 30px 5px;
}

.why__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100vw;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #000000;
  margin: 0px 0px 50px 0px;
}

.why__text {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 0px 60px 0px 0px;
  color: #ffffff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.why__img {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.why__img img {
  width: 100%;
}

.why {
  background-color: #ebebeb;
}

.why__column {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.why__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin: 0px 0px 50px 0px;
}

.why__item-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.why__item-skin {
  min-width: 100px;
  min-height: 100px;
  max-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.why__item-skin img {
  margin: 0 auto;
}

.why__item-img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.why__item-text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 5px 0px 5px 10px;
}

.contacts__hello {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.contacts__title {
  margin: 80px 0px 30px 0px;
}

.contacts__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.contact-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  margin: 0px 0px 30px 0px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contacts-icon {
  margin: 0px 10px 0px 0px;
}

.contacts__mail-icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.contacts__social div {
  margin: 0px 33px 0px 0px;
}

.contacts__social div:last-child {
  margin: 0px 0px 0px 0px;
}

.contacts__bottom {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  background-color: #000000;
}

.contacts__map {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
}

.contacts__map iframe {
  width: 100%;
  height: 100%;
}

.contacts__form {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 50%;
          flex: 1 1 50%;
  padding: 50px 0px 0px 60px;
}

.contacts__form-title {
  color: #ffffff;
  margin: 0px 0px 30px 0px;
}

.contacts-form input,
.contacts-form textarea {
  border: 2px solid #959595;
  background-color: #292929;
  width: 374px;
  height: 50px;
  margin: 0px 0px 30px 0px;
  padding: 0px 0px 0px 15px;
  color: #ffffff;
}

.contacts-form textarea {
  height: 100px;
  padding: 10px 0px 0px 15px;
}

.contacts__form-button {
  margin: 0px 0px 20px 0px;
}

@media (max-width: 650px) {
  .footer__skin {
    -ms-flex-wrap: wrap-reverse;
        flex-wrap: wrap-reverse;
  }

  .footer__copyright {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    margin: 0px 0px 20px 0px;
  }

  .footer__logo {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
  }
}

@media (max-width: 640px) {
  .contacts__gps {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
  }

  .contacts__mail {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }

  .contacts__phone {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 60%;
            flex: 1 1 60%;
  }

  .contacts__social {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 40%;
            flex: 1 1 40%;
  }

  .contacts__social div {
    margin: 0px 25px 0px 0px;
  }
}

@media (max-width: 520px) {
  .contacts__title {
    text-align: center;
  }

  .contact-item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .contacts-icon {
    margin: 0px 10px 0px 0px;
  }

  .contacts__gps {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .contacts__phone {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }
}

@media (max-width: 61.99875em) {
  .header__top {
    padding: 20px 0px 20px 0px;
  }

  .footer__logo img {
    margin: 30px 0px 30px 0px;
  }

  .catering__top {
    margin: 15px 0px 30px 0px;
  }

  .catering__text {
    padding: 0px 0px 0px 40px;
  }

  .title {
    font-size: 2.5rem;
    line-height: 40px;
  }

  .catering__text-title {
    margin: 0px 0px 10px 0px;
  }

  .content {
    line-height: 20px;
  }

  .catering__text-content {
    margin: 0px 0px 25px 0px;
  }

  .catering__column {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .catering__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 50%;
            flex: 1 1 50%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
  }

  .catering__item-title {
    margin: 15px 5px 10px 5px;
  }

  .catering__item-content {
    margin: 0px 10px 20px 10px;
  }

  .catering__item-button {
    margin: 0px 5px 15px 5px;
  }

  .why__top {
    margin: 0px 0px 30px 0px;
  }

  .why__text {
    padding: 0px 40px 0px 0px;
  }

  .why__item {
    margin: 0px 0px 30px 0px;
  }

  .why__item-text {
    padding: 0px 0px 0px 10px;
  }

  .contacts__title {
    margin: 40px 0px 30px 0px;
  }

  .contacts__form {
    padding: 20px 0px 0px 30px;
  }

  .contacts__form-title {
    margin: 0px 0px 15px 0px;
  }

  .contacts-form input,
  .contacts-form textarea {
    margin: 0px 0px 15px 0px;
    width: 330px;
  }
}

@media (max-width: 47.99875em) {
  .icon-menu {
    display: block;
    position: relative;
    width: 1.875rem;
    height: 1.125rem;
    cursor: pointer;
    z-index: 5;
  }

  .icon-menu span,
  .icon-menu::before,
  .icon-menu::after {
    content: "";
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    right: 0;
    position: absolute;
    width: 100%;
    height: 0.125rem;
    background-color: #000;
  }

  .icon-menu::before {
    top: 0;
  }

  .icon-menu::after {
    bottom: 0;
  }

  .icon-menu span {
    top: calc(50% - 0.0625rem);
  }

  .menu-open .icon-menu span {
    width: 0;
  }

  .menu-open .icon-menu::before {
    top: calc(50% - 0.0625rem);
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
  }

  .menu-open .icon-menu::after {
    bottom: calc(50% - 0.0625rem);
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
  }

  .header__menu {
    display: block;
  }

  .header__top {
    position: relative;
    z-index: 100;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 20px 0px 20px 0px;
    background-color: #fff;
  }

  .header__lang {
    display: none;
  }

  .header__middle img {
    display: block;
  }

  .middle {
    display: none;
  }

  .header__order {
    font-size: 20px;
  }

  .header__nav {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    overflow: auto;
    padding: 100px 0px 0px 0px;
    z-index: 50;
    -webkit-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
  }

  .header__nav-list .header__nav-item {
    font-size: 1.25rem;
    margin: 30px 0px 0px 0px;
  }

  .header__nav-list .header__nav-item > a {
    padding: 20px;
  }

  .header__nav-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }

  .header__nav-list .item-img {
    display: none;
  }

  .footer__logo img {
    margin: 20px 0px 20px 0px;
  }

  .catering__top {
    margin: 0px 0px 10px 0px;
  }

  .catering__text {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    text-align: center;
    padding: 20px 0px 20px;
    margin: 0px 20px 0px 20px;
  }

  .why__text {
    padding: 0px 10px 0px 0px;
    font-size: 1.875rem;
  }

  .why__item-text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }

  .why__item-content {
    display: none;
  }

  .contacts__title {
    margin: 25px 0px 25px 0px;
  }

  .contact-item {
    margin: 0px 0px 20px 0px;
  }

  .contacts-icon {
    margin: 0px 5px 0px 0px;
  }

  .contacts__bottom {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }

  .contacts__map iframe {
    min-height: 300px;
  }

  .contacts__map {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    min-width: 30%;
  }

  .contacts__form {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
    text-align: center;
    padding: 20px 0px 0px 0px;
  }

  .contacts-form input,
  .contacts-form textarea {
    width: 310px;
  }
}

@media (max-width: 47.99875em) and (max-width: 47.99875em) {
  .catering__top {
    display: none;
  }
}

@media (max-width: 29.99875em) {
  .header__middle img {
    max-width: 100%;
    padding: 0px 0px 0px 10px;
  }

  .header__order {
    margin: 0px 10px;
    text-align: center;
    font-size: 20px;
  }

  .why__text {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding: 10px 0px 10px 0px;
    font-size: 2.1875rem;
  }

  .why__img {
    display: none;
  }

  .why__item {
    -webkit-box-flex: 1;
        -ms-flex: 1 1 100%;
            flex: 1 1 100%;
  }

  .why__item-text {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 5px 0px 5px 10px;
  }

  .why__item-content {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
}